/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --botanicalNight: #164038; 
    --forbiddenForest: #22594F; 
    --fallHarvest: #A68A56; 
    --usedOil: #261414;
    --doveFeather: #735D5D;
    --black: #171321;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--botanicalNight);
    color: var(--white);
    font-size: var(--font-size);
}
h1, h2, h3 {
    margin: 0;
}
a {
    color: var(--magenta);
}

/* intro styles */

#intro {
    padding-bottom: 10rem;
}
#intro p {
    font-size: 1rem;
    line-height: 1.5;
}
#intro .name {
    font-family: var(--mono);
}
.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--fallHarvest);
    display: block;
}
#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}